body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2b1055, #7597de);
    color: #f4f4f4;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navigation .logo {
    color: white;
    font-size: 1.5em;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #007bff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 0 20px;
    background: linear-gradient(135deg, #2b1055, #7597de);
    color: white;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.header-content {
    max-width: 600px;
}

.header-content .text-section {
    margin-right: auto;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.header-content .learn-more {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-content .learn-more:hover {
    background-color: #0056b3;
}

.section {
    margin: 80px 0;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.experience-item, .resume-container, .contact-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

footer .social-media a:hover {
    color: #007bff;
}
